:root {
  --font-primary: "Radio Canada", sans-serif;


  /* Colors */
  --color-black: #242424;
  --color-yellow: #F1FF66;

  /* Layout */
  --container-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-variation-settings: "wght" 400;
}
/* .container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
} */

