:root {
  --font-primary: "Radio Canada", sans-serif;


  /* Colors */
  --color-black: #242424;
  --color-yellow: #F1FF66;
  --color-primary: #1D4ED8;
  --color-primary-light: #3B82F6;

  --gray-500: #6B7280;
  --gray-400: #9CA3AF;
  --gray-200: #E5E7EB;
  --gray-100: #F3F4F6;

  /* Layout */
  --container-width: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-primary);
  font-optical-sizing: auto;
  font-variation-settings: "wght" 400;
}
