.about {
  margin: 80px 0 40px;
}

.about-inner {
  background-color:#242424;
  border-radius: 40px;
  padding: 60px 70px;
  margin: auto 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
}

.about-left {
  max-width: 420px;
 color:#FFFFFF;
}

.about-label {
  font-size: 14px;
  /* opacity: 0.8; */
  margin-bottom: 20px;
}

.about-title {
  font-size: 52px;
  font-weight: 700;
  line-height: 110%;
  color: var(--color-yellow);
  margin-bottom: 24px;
}

.about-desc {
  font-size: 18px;
  line-height: 150%;
  opacity: 0.9;
  margin-bottom: 34px;
}

.about-btn {
  background-color: var(--color-yellow);
  border: none;
  padding: 14px 22px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.about-btn:hover {
  opacity: 0.9;
}

.about-map {
  width: 100%;
  max-width: 420px;
  opacity: 0.9;
}
@media (max-width: 768px) {

  
  .about {
    padding: 0;
    margin: 0;
    width: 100%;
  }

  .about-inner {
    width: 100%;
    margin: 0;
    border-radius: 16px; 
    padding: 40px 24px;
    height: 606px;
    background-color: #242424;
    /* background-image: url("../assets/eumapf.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; */

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
  }

 
  .about-right {
    display: none;
  }

  
  .about-label {
    font-size: 13px;
    margin-bottom: 45px;
    padding-top: 20px;
    color:#FFFFFF;
    font-variation-settings: "wght" 600;
  }

  .about-title {
     font-size: 43px; 
     line-height: 110.00000000000001%;
   margin-bottom: 25px;
  }

  .about-desc {
    font-size: 22px;
    line-height: 140%;
    margin-bottom: 96px;
    padding-right: 70px;
    font-variation-settings: "wght" 400;
  }
  .flex-col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .about-btn {
    font-size: 18px;
    font-variation-settings: "wght" 600;
    line-height: 160%;
    padding: 12px 20px;
    height: 53px;
    min-width: 90%;
    /* width: auto; */
     /* align-self: center; */
  }
}

@media (min-width: 768px) and (max-width: 1200px) {

  .about-inner {
    padding: 50px 40px;
    height: auto;
    gap: 30px;
  }

  .about-title {
    font-size: 42px;
  }

  .about-desc {
    font-size: 16px;
  }

  .about-map {
    max-width: 360px;
  }
}
