.ecosystem {
  padding: 120px 60px;
  background-color: var(--color-white);
}

.ecosystem-inner {
  text-align: left;
  max-width: 900px;
}

.ecosystem-title {
  font-size: 86px;
  line-height: 110.00000000000001%;
  font-weight: 400;
  font-variation-settings: "wght" 400;
  color: var(--color-black);
  letter-spacing: -2px;
}
.dynamic{
  text-align: end;
  font-size: 13px;
  font-weight: 600;
  font-variation-settings: "whgt" 600;
  padding: 20px 0px 20px;
}
