.ecosystem {
  padding: 100px 60px 30px;
  background-color: var(--color-white);
}

.ecosystem-inner {
  text-align: left;
  max-width: 1263px;
  padding-bottom: 50px;
}

.ecosystem-title {
  font-size: 86px;
  line-height: 110.00000000000001%;
  font-weight: 400;
  font-variation-settings: "wght" 400;
  color: var(--color-black);
  letter-spacing: -2px;
  /* max-width: 1500px; */
}
.dynamic{
  text-align: end;
  font-size: 13px;
  font-weight: 600;
  font-variation-settings: "whgt" 600;
  padding-right: 40px;
  margin-bottom: 50px;
}
/* .dynamic p{
  margin-left: 50px;
} */
@media (max-width: 768px) {

  .ecosystem {
    padding: 40px 20px;             
  }

  .ecosystem-title {
    font-size: 43px;
    line-height: 110.00000000000001%;
    letter-spacing: -1px;
    font-variation-settings: "wght" 400;
    padding-bottom: 30px;

  }

  .ecosystem-inner {
    max-width: 100%;
  }

  .signup-divider {
    width: 100%;                      
    margin: 40px 0;
  }

  .dynamic {
   display: none;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {

  .ecosystem {
    padding: 80px 40px;
  }

  .ecosystem-title {
    font-size: 52px;
    line-height: 115%;
  }

  .signup-divider {
    width: 100%;
  }

  .dynamic {
    text-align: right;
    font-size: 13px;
  }
}
