.ecosystem {
  padding: 120px 0;
  background-color: var(--color-white);
}

.ecosystem-inner {
  text-align: left;
  max-width: 900px;
}

.ecosystem-title {
  font-size: 48px;
  line-height: 120%;
  font-weight: 600;
  font-variation-settings: "wght" 600;
  color: var(--color-black);
}
