.hero {
  background-color: var(--color-yellow);
  padding: 140px 0 60px;        
}

.hero-inner {
  text-align: center;
}




.hero-title {
  font-size: 92px;              
  font-weight: 500;
  font-variation-settings: "wght" 500;
  line-height: 110.00000000000001%;
  margin: 0 auto 40px;
  white-space: nowrap;         
  text-align: center;
  letter-spacing: -5.5px; 
}



.hero-subtitle {
  font-size: 24px;
  font-weight: 500;
  font-variation-settings: "wght" 500;
  color: var(--color-black);
  max-width: 900px;
  line-height: 140%;
  margin: 0 auto 110px;        
}



.hero-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 100px;
 margin-top: 120px;
 padding-top: 80px;  
  max-width: 1200px;         
  margin: 0 80px;        
}


.feature-item {
  max-width: 260px;
  text-align: left;
}


.feature-line {
  width: 220px;
  height: 1px;
  background-color: var(--color-black);  
  margin-bottom: 18px;
  opacity: 0.7;
}


.feature-item h4 {
  font-size: 13px;
  font-weight: 700;
  font-variation-settings: "wght" 700;
  line-height: 140%;
  margin-bottom: 6px;
  white-space: normal;
  letter-spacing: 0%;          
}


.feature-item p {
  font-size: 13px;
  line-height: 150%;
  font-weight: 500;
  font-variation-settings: "wght" 500;
  color: var(--color-black);
  opacity: 0.9;
  margin-top: 2px;
}
/* -------------------------------
   Mobile Hero (max-width: 768px)
-------------------------------- */
@media (max-width: 768px) {

  .hero {
    padding: 80px 0 40px;
  }

  .hero-title {
    font-size: 46px;
    line-height: 110%;
    white-space: normal;     /* allow breaking lines */
    letter-spacing: -2px;
    margin-bottom: 24px;
    padding: 0 20px;
  }

  .hero-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    max-width: 90%;
    margin: 0 auto 60px;
    padding: 0 10px;
  }

  .hero-features {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin: 0 auto;
    padding: 0 24px;
    max-width: 100%;
  }

  .feature-item {
    max-width: 100%;
    text-align: left;
  }

  .feature-line {
    width: 100%;
    height: 1px;
  }

  .feature-item h4 {
    font-size: 14px;
  }

  .feature-item p {
    font-size: 14px;
    line-height: 145%;
  }
}
/* --------------------------------------------
   Tablet & Small Laptop (760px - 1200px)
   
---------------------------------------------*/
@media (min-width: 760px) and (max-width: 1200px) {

  
  .hero-title {
    white-space: normal;
    font-size: 64px;
    line-height: 110%;
    padding: 0 20px;
  }

  .hero-features {
    margin: 0 auto;
    padding: 0 40px;
    gap: 60px;
  }

  .feature-line {
    width: 100%;
  }
}
