.newsletter {
  background-color: var(--color-yellow);
  padding: 70px 0;
}

.newsletter-inner {
  display: flex;
  justify-content: space-between;
  
  padding: 50px
}

.news-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 12px;
}

.news-desc {
  font-size: 16px;
  max-width: 550px;
  line-height: 150%;
  margin-bottom: 30px;
}

.news-form {
  display: flex;
  align-items: center;
  gap: 0;
}

.news-input {
  padding: 14px 16px;
  border: 1px solid var(--color-black);
  border-right: none;
  width: 260px;
  font-size: 14px;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.news-btn {
  padding: 14px 20px;
  background-color: #FFFFFF;
  border: 1px solid var(--color-black);
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
/* =============================
      TABLET (769px – 1024px)
============================= */
@media (max-width: 1024px) and (min-width: 769px) {
  .newsletter-inner {
    flex-direction: column;
    gap: 30px;
    padding: 40px;
  }

  .flex-news {
    max-width: 90%;
  }

  .news-title {
    font-size: 24px;
  }

  .news-desc {
    font-size: 15px;
  }

  .news-form {
    width: 100%;
  }

  .news-input {
    width: 60%;
  }

  .news-btn {
    width: 40%;
    font-size: 14px;
  }
}



/* =============================
      MOBILE (max-width: 768px)
============================= */
@media (max-width: 768px) {

  .newsletter-inner {
    flex-direction: column;
    padding: 30px 20px;
    gap: 25px;
  }

  .news-form {
    width: 100%;
    position: relative;
  }

  .news-input {
    width: 100%;
    padding: 18px 20px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid var(--color-black);
    outline: none;
  }

  
  .news-btn {
    position: absolute;
    right: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 52px;
    height: 52px;
    border-radius: 10px;
    background: #fff;
    border: 2px solid var(--color-black);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-variation-settings:"wght" 700;
    
    font-size: 0;
  }

  /* add arrow icon */
  .news-btn::after {
    content: "→";
    font-size: 22px;
    font-weight: 600;
  }
}


