.newsletter {
  background-color: var(--color-yellow);
  padding: 70px 0;
}

.newsletter-inner {
  max-width: 900px;
}

.news-title {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 12px;
}

.news-desc {
  font-size: 16px;
  max-width: 550px;
  line-height: 150%;
  margin-bottom: 30px;
}

.news-form {
  display: flex;
  align-items: center;
  gap: 0;
}

.news-input {
  padding: 14px 16px;
  border: 1px solid var(--color-black);
  border-right: none;
  width: 260px;
  font-size: 14px;
  border-radius: 8px 0 0 8px;
  outline: none;
}

.news-btn {
  padding: 14px 20px;
  background-color: var(--color-white);
  border: 1px solid var(--color-black);
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}
