

.products {
  padding: 100px 50px;
  background-color: var(--color-white);
}

.products-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 50px;
  letter-spacing: -0.5px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; 
}

/* ------------------- CARD BASE ------------------- */

.product-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;               
  border-radius: 36px;          
  min-height: 430px;
   height: 672px;  
   width: 460px;          
}


.card-yellow {
  background-color: #f1ff66;
}

.card-gray {
  background-color: #e7e6e3;
}



.product-pretitle {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 2px;
  letter-spacing: -0.3px;
}

.gray-text {
  color: #7b7b7b;
}

.product-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 18px;
  letter-spacing: -1px;
}

.product-desc {
  font-size: 16px;
  line-height: 150%;
  max-width: 300px;
  color: #2b2b2b;
}


.product-buttons {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.btn-white {
  background-color: #fff;
  border: none;
  padding: 16px 20px;      
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  text-align: left;
}

.btn-black {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 16px 20px;      
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}


.btn-gray {
  background-color: #dcdad5;
  border: none;
  padding: 16px 20px;      
  border-radius: 10px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
  margin-top: 40px;        
}
@media (max-width: 768px) {

  .products {
    padding: 40px 0;
  }

  .products-title {
    margin-left: 20px;
    margin-bottom: 24px;
    font-size: 22px;
  }

  /* Make grid horizontally scrollable */
  .products-grid {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    scroll-snap-type: x mandatory;
  }

  /* Hide scrollbar (mobile clean look) */
  .products-grid::-webkit-scrollbar {
    display: none;
  }
  .products-grid {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  /* Card size for mobile horizontal scroll */
  .product-card {
    min-width: 280px;
    max-width: 300px;
    height: auto;
    padding: 24px;
    border-radius: 28px;
    scroll-snap-align: start;
  }

  .product-title {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .product-pretitle {
    font-size: 16px;
  }

  .product-desc {
    font-size: 14px;
    max-width: 90%;
  }

  .btn-white,
  .btn-black,
  .btn-gray {
    padding: 14px;
    font-size: 14px;
  }
}
@media (min-width: 768px) and (max-width: 1200px) {

  .products-grid {
    display: flex;
    overflow-x: auto;
    gap: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .product-card {
    min-width: 330px;
    max-width: 360px;
    height: auto;
  }
}
