.signup {
  background-color: var(--color-white);
  padding: 80px 0 20px;
}

.signup-inner {
  max-width: 1200px;
  margin: 0 60px;
  text-align: left;
}

.signup-title {
  font-size: 36px;
  font-weight: 400;
  font-variation-settings: "wght" 400;
  margin-bottom: 30px;
  letter-spacing: -0.5px;
  margin: 0; 
  padding: 0;
  line-height: 1;
}
.signup-flex{
  display: flex;
  align-items: center;
  gap: 80px;
}
.signup-form {
  display: flex;
  align-items: center;
  background-color: #EBEAE6;
  border-radius: 10px;
  padding: 0;
  width: 399px; 
  height: 57px;
}

.signup-input {
  flex: 1;
  height: 100%;
  padding: 0 16px;
  border: none;
  background: transparent;
  font-size: 13px;
  font-weight: 600;
  font-variation-settings: "wght" 600;
  outline: none;
  color: #242424;
  opacity: 40%;
}

.signup-button {
  background-color: #FFFFFF4D;
  border: none;
  padding: 0 24px;
  height: 100%;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  font-variation-settings: "wght" 600;
  cursor: pointer;
}

.signup-divider {
  text-align: center;
  margin-top: 50px;
  width: 1420px;
  height: 1px;
  background-color: #242424;
}
