.signup {
  background-color: var(--color-white);
  padding: 80px 0 20px;
}

.signup-inner {
  max-width: 1200px;
  margin: 0 60px;
  text-align: left;
}

.signup-title {
  font-size: 36px;
  font-weight: 400;
  font-variation-settings: "wght" 400;
  margin-bottom: 30px;
  letter-spacing: -0.5px;
  margin: 0; 
  padding: 0;
  line-height: 1;
}
.signup-flex{
  display: flex;
  align-items: center;
  gap: 80px;
}
.signup-form {
  display: flex;
  align-items: center;
  background-color: #EBEAE6;
  border-radius: 10px;
  padding: 0;
  width: 399px; 
  height: 57px;
}

.signup-input {
  flex: 1;
  height: 100%;
  padding: 0 16px;
  border: none;
  background: transparent;
  font-size: 13px;
  font-weight: 600;
  font-variation-settings: "wght" 600;
  outline: none;
  color: #242424;
  opacity: 40%;
}

.signup-button {
  background-color: #FFFFFF4D;
  border: none;
  padding: 0 24px;
  height: 100%;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 600;
  font-variation-settings: "wght" 600;
  cursor: pointer;
}

.signup-divider {
  text-align: center;
  margin-top: 50px;
  width: 1420px;
  height: 1px;
  background-color: #242424;
}
/* --------------------------------------------
   Mobile (max-width: 768px)
---------------------------------------------*/
@media (max-width: 768px) {

  .signup-inner {
    margin: 0 20px;            
  }

  .signup-flex {
    flex-direction: column;    
    align-items: flex-start;
    gap: 22px;
  }

  .signup-title {
    font-size: 28px;
    line-height: 110.00000000000001%;
  font-variation-settings: "wght" 400;
  /* margin-bottom: 30px; */
  letter-spacing: 0px;
  }

  .signup-form {
    width: 100%;
    height: 52px;
    margin-bottom: 50px;
  }

  .signup-input {
    font-size: 13px;
    padding: 0 14px;
    font-variation-settings:"wght" 600 ;
    height: 16px;
    width: 250px;
  }

  .signup-button {
    font-size: 13px;
    padding: 0 18px;
    height: 49px;
    width: 89px;
  }

  .signup-divider {
    width: 100%;             
    margin-top: 40px;
  }
}


/* --------------------------------------------
   Tablet (768px - 1200px)
---------------------------------------------*/
@media (min-width: 768px) and (max-width: 1200px) {

  .signup-inner {
    margin: 0 40px;
  }

  .signup-flex {
    gap: 40px;                
  }

  .signup-title {
    font-size: 30px;
  }

  .signup-form {
    width: 340px;           
    height: 55px;
  }

  .signup-divider {
    width: 100%;               
  }
}
