.support {
  padding: 80px 0;
  background-color: #ececec;
}

.support-inner {
  text-align: center;
}

.support-title {
  font-size: 36px;
  font-weight: 400;
  font-variation-settings: "wght" 400;
  margin-bottom: 28px;
  color: var(--color-black);
  line-height: 160%;
  letter-spacing: -2.5px;
}

.support-btn {
  border: 1px solid var(--color-black);
  padding: 14px 24px;
  border-radius: 8px;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
}
/* =============================
      TABLET (769px – 1024px)
============================= */
@media (max-width: 1024px) and (min-width: 769px) {
  .support {
    padding: 60px 0;
  }

  .support-title {
    font-size: 30px;
    margin: 0 40px 24px;
    letter-spacing: -1.5px;
    line-height: 150%;
  }

  .support-btn {
    padding: 12px 20px;
    font-size: 14px;
  }
}


/* =============================
      MOBILE (max-width: 768px)
============================= */
@media (max-width: 768px) {
  .support {
    padding: 50px 0;
  }

  .support-inner {
    text-align: left;
    margin: 0 20px;
  }

  .support-title {
    font-size: 26px;
    line-height: 140%;
    letter-spacing: -1.2px;
    max-width: 85%;
    margin-bottom: 20px;
  }

  .support-btn {
    width: 100%;
    text-align: center;
    padding: 14px 0;
    font-size: 14px;
    border-radius: 8px;
  }
}
