.support {
  padding: 80px 0;
  background-color: #ececec;
}

.support-inner {
  text-align: center;
}

.support-title {
  font-size: 36px;
  font-weight: 400;
  font-variation-settings: "wght" 400;
  margin-bottom: 28px;
  color: var(--color-black);
  line-height: 160%;
  letter-spacing: -2.5px;
}

.support-btn {
  border: 1px solid var(--color-black);
  padding: 14px 24px;
  border-radius: 8px;
  font-size: 15px;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
}
